@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-primary: #192f57;
  --clr-secondary: #4668a5;
  --clr-light: #ffffff;
  --clr-dark: #2c3333;
  --clr-gray: #d9d9d9;
  --font: "Poppins", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* start of code */

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* header */

.header {
  padding: 3rem 0rem;
  background-color: var(--clr-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.header__nav ul li a {
  color: var(--clr-dark);
  font-weight: 700;
}

.header__nav ul li a:hover {
  color: var(--clr-secondary);
  transition: 0.5s ease-in-out;
}

.header__gstarted a {
  display: inline-block;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-dark);
}

.header__gstarted a:hover {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}

/* Hamburger menu */
.toggle__menu {
  display: none;
}

.toggle__menu span {
  color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
}
/* m header */

/* Mobile header */
@media screen and (max-width: 520px) {
  .header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.5rem 1.5rem;
    z-index: 999;
  }

  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1001;
  }

  .toggle__menu span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: var(--clr-primary);
    border-radius: 2px;
    transition: all 0.4s;
    border: none;
  }

  nav.header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease;
    z-index: 1000;
  }

  nav.header__nav.open {
    right: 0;
  }

  nav.header__nav ul {
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
  }

  nav.header__nav ul li a {
    color: var(--clr-light);
    font-size: 2rem;
  }

  /* Hamburger animation */

  .toggle__menu.open span {
    background-color: var(--clr-light);
    font-weight: bold;
  }
  .toggle__menu.open span:first-child {
    transform: rotate(45deg) translate(9px, 6.5px);
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
  }
  .toggle__menu.open span:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .header__gstarted {
    display: none;
  }
}
/* c footer */

.footer {
  background-color: var(--clr-primary);
  padding: 3rem 0;
  margin: -2;
}

.footer p {
  color: var(--clr-light);
  text-align: left;
}

/* m footer */
@media screen and (max-width: 520px) {
  .footer p {
    font-size: small;
  }
}

/* c banner*/

.banner {
  background-image: url("./IMG/home\ banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
}

.banner__text {
  padding-top: 15rem;
  width: 52rem; /* max width */
}

.banner__text h2 {
  color: var(--clr-primary);
  font-weight: bold;
}

/* m banner */
@media screen and (max-width: 520px) {
  .banner {
    height: 70vh;
    padding: 2rem 1.5rem;
  }

  .banner__text {
    padding-top: 0;
    width: 100%;
  }
}

/* c poperties */

.properties {
  background-color: var(--clr-secondary);
  padding: 10rem;
  margin: -2;
}
.properties__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.property__title {
  text-align: center;
}

.property__title h2 {
  font-weight: bold;
}

.property__title p,
.property__title h2 {
  color: var(--clr-light);
}

.cards {
  width: 90%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: var(--clr-light);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cards img {
  display: block;
  width: 100%;
  height: 30rem;
  object-fit: cover;
  transition: transform 0.5s;
  transition: all 0.5s ease-in-out;
}

.cards__details {
  padding: 3rem;
}

.cards__details h4 {
  font-weight: bold;
}

.proper_table {
  margin-top: 2rem;
}

.my-table {
  margin-top: 2rem;
  width: 214%;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.my-table td {
  padding: 5px 0;
}

#stats {
  font-weight: bolder;
}

.card_btn {
  display: flex;
  justify-content: space-between;
  padding-right: 1.9rem;
  align-items: flex-end;
}

.card_btn {
  margin-top: 2rem;
}

.card__text p {
  font-weight: bold;
}

.properties_anchor a {
  display: inline-block;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-dark);
}

.properties_anchor a:hover {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}
/* m properties */

@media screen and (max-width: 520px) {
  .properties {
    padding: 4rem 1.5rem;
  }

  .properties__wrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .cards {
    width: 100%;
  }
}

/* c priority */

.priority {
  padding: 10rem;
  background-color: var(--clr-light);
  margin: -2;
}

.priority__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
}

.prio__img img {
  height: 100%;
  width: auto;
}

.prio__details {
  max-width: 800px;

  text-align: justify;
}

.prio__details p {
  padding: 0;
}

.prio__details h2 {
  margin-bottom: 1rem;
}

.priority__anchor a {
  display: inline-block;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
  border: 1px solid var(--clr-dark);
}

.priority__anchor a:hover {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}

/* m priority */
@media screen and (max-width: 520px) {
  .priority {
    padding: 8rem 0rem;
  }
  .priority__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .prio__details h2 {
    font-size: 36px;
    font-weight: bold;
  }
  .priority__anchor {
    display: flex;
    justify-content: flex-end;
  }
}
/*c testimonials */

.testimonials {
  padding: 0;
  background-color: var(--clr-dark);
}
.testimonials__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 20rem;
}

.testimonials__content {
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.testimonials__content h6 {
  color: var(--clr-light);
  letter-spacing: 0.2rem;
}

.testimonials__content h2 {
  margin: 2rem 0;
  color: var(--clr-light);
  font-weight: 700;
  width: 80%;
}

.testimonials__content p {
  color: var(--clr-light);
  margin: 3rem 0;
}

.testimonials__content h3 {
  color: var(--clr-light);
  font-weight: 700;
}

.testimonials__content p:last-child {
  color: var(--clr-light);
  margin: 0.5rem 0;
  margin-bottom: 5rem;
}

.testimonials__img {
  height: 100%;
}

/* m testimonials */
@media (max-width: 520px) {
  .testimonials__wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .testimonials__content {
    padding: 5rem 1.5rem 0 1.5rem;
    align-items: flex-start;
  }

  .testimonials__content h2 {
    width: 100%;
  }

  .testimonials__content p {
    margin: 2rem 0;
  }

  .testimonials__img {
    padding: 0 1.5rem 3rem 1.5rem;
  }

  .testimonials__img img {
    width: 100%;
    height: auto;
    display: block;
  }
}

/* --------------------------------------------------------- */
/* PROPERTIES */

.main__properties {
  padding: 8rem 0;
  background-color: var(--clr-light);
}

.mainProperties__title h3 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 4rem;
}
.mainProperties__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  gap: 3rem;
}

.mainProperties__img img {
  width: 100%;
}

.mp__titles h3 {
  font-weight: bold;
}
.mp__description {
  text-align: justify;
  padding: 2rem 0;
}

.anch__div {
  margin-top: 11rem;
}

@media screen and (max-width: 520px) {
  .main__properties {
    padding: 4rem 1rem;
  }

  .mainProperties__section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }

  .mainProperties__img img {
    width: 100%;
    height: auto;
  }

  .mp__description {
    padding: 3rem 0;
    font-size: 0.95rem;
  }
  .continue__anch {
    font-size: 18px;
    margin-bottom: 2rem;
  }

  .anch__div {
    margin-top: 6rem;
  }
}

/* c About */

.about {
  background-image: url("./IMG/about\ banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
}

.about__text {
  padding-top: 15rem;
  max-width: 65rem;
}

.about__text h2 {
  color: var(--clr-primary);
  font-weight: bold;
}

.about__text p,
#about_anchor {
  margin-top: 5rem;
}

/* c2 about */

.about__properties {
  padding: 8rem 25rem;
  width: 90%;
  background-color: var(--clr-light);
  margin: auto;
}
.about__title h3 {
  font-weight: bold;
  text-align: center;
  padding-bottom: 4rem;
}

.about__title p {
  text-align: justify;
}

.about__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  box-shadow: rgba(0, 0.2, 0.2, 0.24) 0px 3px 8px;
}
.about__img {
  height: 400px; /* adjust this */
}
.about__img img {
  width: 100%;
  height: 105.5%;
  object-fit: conta;
}

.about__infos {
  background-color: var(--clr-gray);
  padding: 4rem;
}

.ab__titles h4 {
  margin-top: 4rem;
  font-weight: bold;
}
.ab__description {
  text-align: justify;
  margin-top: 4rem;
}

/* m about */
@media screen and (max-width: 520px) {
  .about__properties {
    padding: 4rem 1.5rem;
    width: 100%;
  }

  .about__title h3 {
    padding-bottom: 2rem;
  }

  .about__title p {
    text-align: justify;
  }

  .about__section {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 4rem;
  }

  .about__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .about__infos {
    padding: 2rem;
  }

  .ab__titles h4 {
    margin-top: 2rem;
  }
}

/* contacts */

.contact {
  padding: 8rem 0;
}
.contact__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact__title h2 {
  font-weight: bold;
}

.contact__title {
  width: 80%;
}

#c_par {
  margin-bottom: 5rem;
}

/* contact cards */

.contact__card {
  display: flex;
  align-items: center;
  justify-self: start;
  width: 500px;
  gap: 1.5rem;
  background: #fff;
  padding: 1.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contact__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 28px;
}

.contact__details h4 {
  margin: 0;
  font-weight: bold;
}

/* contact right side */

.contact__inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
}

.c__horizontal {
  display: flex;
  gap: 2rem;
}

/* vertical inputs stacked */
.c__vertical {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* general input styles */
.form__input {
  padding: 25px 16px;
  border-radius: 20px;
  border: 2px solid var(--clr-primary);
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

/* focus effect */
.form__input:focus {
  border-color: var(--clr-primary);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

/* message input */
#c__message {
  height: 20rem;
  padding: 12px 16px;
  border-radius: 20px;
  border: 2px solid var(--clr-primary);
}

#contact__anch {
  margin-top: 7rem;
}

.form__input::placeholder {
  font-weight: bolder;
  font-size: 18px;
  color: var(--clr-dark);
}

/* -m contact */
@media screen and (max-width: 520px) {
  .contact__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Center the Send Message button */
  #contact__anch {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #contact__anch a {
    width: 100%;
    text-align: center;
    padding: 2rem 1.5rem;
    font-size: 1.6rem;
  }
}
/* ASSETS */

.continue__anch {
  color: var(--clr-dark);
}
.continue__anch:hover {
  color: var(--clr-primary);
  font-weight: bold;
}

h1 {
  font-size: 71px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 18px;
}
