@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-primary: #192f57;
  --clr-secondary: #4668a5;
  --clr-light: #ffffff;
  --clr-dark: #2c3333;
  --font: "Poppins", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* start of code */

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* header */

.header {
  padding: 3rem 0rem;
  background-color: var(--clr-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__logo h5 {
  color: var(--clr-light);
  font-size: 18px;
  font-weight: 700;
}

.header__logo h5 > span {
  color: var(--clr-primary);
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.header__nav ul li a {
  color: var(--clr-dark);
  font-weight: 700;
}

.header__nav ul li a:hover {
  color: var(--clr-secondary);
  transition: 0.5s ease-in-out;
}

.header__gstarted a {
  display: inline-block;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-dark);
}

.header__gstarted a:hover {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}


.priority__anchor a {
  display: inline-block;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  margin-top: 3rem;
  border: 1px solid var(--clr-dark);
}

.priority__anchor a:hover {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}

.properties_anchor a {
  display: inline-block;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-dark);
}

.properties_anchor a:hover {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border: 1px solid var(--clr-dark);
}

/* c footer */

.footer {
  background-color: var(--clr-primary);
  padding: 3rem 0;
  margin: -2;
}

.footer p {
  color: var(--clr-light);
  text-align: left;
}

/* c get started */

.getStarted {
  background-image: url("./IMG/home\ banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.getStarted__text {
  padding-top: 10rem;
  width: 52rem;
}

.getStarted__text h2 {
  color: var(--clr-primary);
  font-weight: bold;
}

/* c poperties */

.proper {
  padding: 4rem;
  background-color: var(--clr-secondary);
  margin: -2;
}

.properties {
  background-color: var(--clr-secondary);
  padding: 10rem;
  margin: -2;
}
.properties__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.title {
  text-align: center;
}

.title h2 {
  font-weight: bold;
}

.title p,
.title h2 {
  color: var(--clr-light);
}

.cards {
  width: 90%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: var(--clr-light);
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cards img {
  display: block;
  width: 100%;
  height: 30rem;
  object-fit: cover;
  transition: transform 0.5s;
  transition: all 0.5s ease-in-out;
}

.cards__details {
  padding: 3rem
}

.cards__details h4 {
  font-weight: bold;
}

.proper_table {
  margin-top: 2rem;
}

.my-table {
  margin-top: 2rem;
  width: 214%;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.my-table td {
  padding: 5px 0;
}

#stats {
  font-weight: bolder;
}

.card_btn {
  display: flex;
  justify-content: space-between;
  padding-right: 1.9rem;
  align-items: flex-end;
}

.card_btn {
 margin-top: 2rem;
}

.card__text p {
  font-weight: bold;
}

/* c priority */

.priority {
  padding: 10rem;
  background-color: var(--clr-light);
  margin: -2;
}

.priority__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
}

.prio__img img {
  height: 100%; /* desired height */
  width: auto; /* maintain aspect ratio */
}

.prio__details {
  max-width: 800px;

  text-align: justify;
}

.prio__details p {
  padding: 0;
}

.prio__details h2 {
  margin-bottom: 1rem; /* space between title and paragraph */
}

/*c testimony */

/* Testimonials */
.testimonials {
  padding: 0;
  background-color: var(--clr-dark);
}
.testimonials__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 20rem;
}

.testimonials__content {
  padding: 15rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.testimonials__content h6 {
  color: var(--clr-light);
  letter-spacing: 0.2rem;
}

.testimonials__content h2 {
  margin: 2rem 0;
  color: var(--clr-light);
  font-weight: 700;
  width: 80%;
}

.testimonials__content p {
  color: var(--clr-light);
  margin: 3rem 0;
}

.testimonials__content h3 {
  color: var(--clr-light);
  font-weight: 700;
}

.testimonials__content p:last-child {
  color: var(--clr-light);
  margin: 0.5rem 0;
  margin-bottom: 5rem;
}

.testimonials__img {
  height: 100%;
}
/* ASSETS */

h1 {
  font-size: 71px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 18px;
}
